python-dotenv
mem0ai
supermemory
langchain-core
langgraph
langchain-openai
langchain-nvidia-ai-endpoints
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph-checkpoint-sqlite
fastapi
uvicorn[standard]
pydantic
