python-dotenv
supermemory
langchain-core
langgraph
langchain-openai
langchain-groq
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph-checkpoint-sqlite
langsmith
fastapi
uvicorn[standard]
pydantic
composio
